@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*:not(code) {
    font-family: "Inter", sans-serif !important;
}

code {
    font-family: "Departure Mono", monospace;
}

.wy-side-nav-search input[type="text"] {
    border: none;
}
